In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('./data/tips.csv')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
freq = pd.crosstab(df['sex'], df['smoker'])
freq.head()

smoker  No  Yes
sex
Female  54   33
Male    97   60

In [8]:
from scipy.stats import chi2_contingency
res = chi2_contingency(freq)
print(res)

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[53.84016393, 33.15983607],
       [97.15983607, 59.84016393]]))

In [9]:
from scipy.stats import chi2
accuray = 0.05
dof = res.dof
crit_val = chi2.ppf(1-accuray, dof)
print(crit_val)

3.841458820694124

In [10]:
if res[0] > crit_val:
    print('Reject H0')
else:  
    print('Accept H0')

Accept H0