## ðŸ“¦Import
Here we import the neccary python libraries

In [1]:
import pandas as pd
from scipy.stats import chi2_contingency 
from scipy.stats import contingency

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Construct the dataframe
The data has been stashed in another folder named `data` in this self same folder, herin we iport the said data as a `pd.DataFrame`

In [2]:
path = './data/tips.csv'
df = pd.read_csv(path)
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In the above data we now desire to decisevely state whether any of the attributtes/ features are dependent on one another. 
Ex: Being a Male might raise smoking probability

Now we compute the expected frequuencies assuming that there is no relation between these 2 attributtes:
\begin{align*}
\text{Expected frequency} & = e_{ij} \\
\text{Number of samples} & = n \\
\text{Attribute 1} & = A, \quad a_i = \text{ith nominal field} \\
\text{Attribute 2} & = B, \quad b_i = \text{ith nominal field} \\
\\
e_{ij} & = \text{Probability}(A = a_i) \cdot \text{Probability}(B = b_j) \cdot n \\
& = \frac{\text{count}(A = a_i)}{n} \cdot \frac{\text{count}(B = b_j)}{n} \cdot n \\
& = \frac{\text{count}(A = a_i) \cdot \text{count}(B = b_j)}{n}
\end{align*}

Let is now create an contingency table against all the nominal attributtes

Sex (Gender) against Smoker (whether person is smoking)

In [32]:
df_nominal = df[['sex', 'smoker', 'day', 'time']]
df_nominal.head()

      sex smoker  day    time
0  Female     No  Sun  Dinner
1    Male     No  Sun  Dinner
2    Male     No  Sun  Dinner
3    Male     No  Sun  Dinner
4  Female     No  Sun  Dinner

In [33]:
def get_combinations(lis: list)-> list:
    return_lis = []
    for i in range(1, len(lis)):
        for j in range(i-1, len(lis)-1):
            return_lis.append([lis[i], lis[j]])
    return (return_lis)

In [34]:
def get_crosstab_values(df: pd.DataFrame)-> pd.DataFrame:
    attrs = get_combinations(df.columns)
    df_nominal_crosstabs= []
    for attr1, attr2 in attrs:
        df_nominal_crosstabs.append(pd.crosstab(df[attr1], df[attr2], margins=True))
    return df_nominal_crosstabs

In [35]:
def get_observed_values(lis: list[pd.DataFrame])-> pd.DataFrame:
    expected_tables = []
    for tab in lis:
        expected_tables.append(chi2_contingency(tab))
    return expected_tables

In [ ]:
def chi_evaluator(contingency_table, dof: int, chi: int):
    
    print('Comnputed Chi Value: ', chi)
    print('Degrees of Freedom: ', dof)
    from scipy.stats import chi2
    sig_lvl = chi2.isf(dof, 0.001)
    print('Significance Level: ', sig_lvl)
    
    if chi > sig_lvl:
        
        return 'Reject Null Hypothesis'
    else:
        
        return 'Fail to Reject Null Hypothesis'

In [42]:
def get_data(df_nominal: pd.DataFrame)-> bool:
    nominal_crosstabs = get_crosstab_values(df_nominal)
    observed_values= get_observed_values(nominal_crosstabs)
    combinations = get_combinations(df_nominal.columns)
    result = chi_evaluator
    for index in range(len(df_nominal.columns)):
        print("\n*********************************")
        print("\n---------------------------------")
        print("Attributtes: ", combinations[index])
        print("\n---------------------------------")
        print("Computed crosstabs:\n", nominal_crosstabs[index])
        print("\n---------------------------------")
        print("Results: ")
        for item in combinations[index]:
            print(item)
get_data(df_nominal)

*********************************

---------------------------------
Attributtes:  ['smoker', 'sex']

---------------------------------
Computed crosstabs:
 sex     Female  Male  All
smoker
No          54    97  151
Yes         33    60   93
All         87   157  244

---------------------------------
Results:
smoker
sex

*********************************

---------------------------------
Attributtes:  ['smoker', 'smoker']

---------------------------------
Computed crosstabs:
 smoker   No  Yes  All
smoker
No      151    0  151
Yes       0   93   93
All     151   93  244

---------------------------------
Results:
smoker
smoker

*********************************

---------------------------------
Attributtes:  ['smoker', 'day']

---------------------------------
Computed crosstabs:
 day     Fri  Sat  Sun  Thur  All
smoker
No        4   45   57    45  151
Yes      15   42   19    17   93
All      19   87   76    62  244

---------------------------------
Results:
smoker
day

*********************************

---------------------------------
Attributtes:  ['day', 'smoker']

---------------------------------
Computed crosstabs:
 smoker   No  Yes  All
day
Fri       4   15   19
Sat      45   42   87
Sun      57   19   76
Thur     45   17   62
All     151   93  244

---------------------------------
Results:
day
smoker